*{
    margin: 0;
    padding: 0;
}

.backHome {
    width: 150px;
    height: 50px;
    background: #ccc;
    text-decoration: none;
    display: inline-block;
    margin: 15px 0 0 15px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.backHome:hover{
    background-color: #b7b7b7;
}
